<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
    <style>
    #wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    h1 {
        display: block;
        text-align: center;
    }
    main {
        display: flex;
        justify-content: space-evenly;
    }
    form{
        width: 25%;
        text-align: center;
        margin: 10px;
    }
    table {
        width: 25%;
        text-align: center;
    }
    input {
        margin: 5px;
    }
    </style>
</head>
<body id="wrapper">
    <h1>Add a Author</h1>
    <main>
        <form action="/authors/create" method="POST">
            {% csrf_token %}
            First Name: <input type="text" name="first_name"><br>
            Last Name: <input type="text" name="last_name"><br>
            Notes: <input type="text" name="notes"><br>
            <input type="submit">
        </form>
        <table class="table-bordered">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </thead>
            {% for author in authors %}
            <tr>
                <td>{{author.id}}</td>
                <td>{{author.first_name}} {{author.last_name}}</td>
                <td><a href="authors/{{author.id}}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>