<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <h2>ID: {{author.id}}</h3>
    <p>Notes: {{author.notes}}</p>
    <h3>Books:</h3>
    {% for book in author.books.all %}
    <p>{{book.title}}</p>
    {% endfor %}
    <form action="/author/{{author.id}}/book/add" method="POST">
        {% csrf_token %}
        <select name="book_id">
            {% for book in books %}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
        </select><br>
        <input type="submit">
    </form>
    <a href="/">Add New Book</a>
</body>
</html>